h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color: rgb(80, 80, 80);
}

p{
    font-size: 20px;
}

.header-color{
    color: rgb(231, 162, 33);
}

.flexible{
    display: flex;
    margin: 150px;
}

.about-sec{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.button{
    
    text-decoration: none;
    padding: 20px 30px;
    color: cornsilk;
    background-image: linear-gradient(#faa454,#f09a1af1 );
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
    
}

.half-div{
width: 50%;
}

.half-div img{
    width: 80%;
    
}

.one-third{
padding: 20px;
width: 30%;
background: #FFFFFF;
box-shadow: 0px 0px 30px rgba(0, 0, 0, .18);
border-radius: 30px;
margin: 0px 40px;
text-align: center;
}

.one-third img{
    width: 100%;
}

.center{
    text-align: center;
    padding: 0px 500px;
}

.youtube{
text-align: center;
 }

 .followers{
    display: flex;
    padding: 50px;
    width: 70%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .18);
    border-radius: 30px;
    margin: 200px 250px;
    text-align: center;
    line-height: 0.1;
    
}

.stat{
 
    width: 33.33%;
    text-align: center;
}



    .footer{
        background-color: black;
        color: rgb(226, 107, 28);
        padding: 5px 40px 35px 40px;
        font-size: 23px;
        text-align: center;
        
    }

    .footer-text{
        line-height: 0.1;
        color: cornsilk;
    }



    .fa {
  padding: 10px;
  font-size: 5px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
